/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
}

a {
    color: #7e7e7e;
}

/* Regole top bar */

.box_top {
    min-height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

.icons_bar{
    flex-grow: 1;
    text-align: right;
}

.actual_chat{
    height: 60px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0;
    display: none;
}

img {
    margin: 0px 5px;
    height: 100%;
    border-radius: 50%;
}

/* Regole conatiner left */

#container_left{
    height: 100vh;
    width: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* Debug */
    background-color: #ffffff;
}

#fixed_profile img {
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
}

/* notify */

#notify{
    min-height: 70px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}
#notify i {
    font-size: 32px;
    color: #8edafc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#notify_on_off {
    background-color: white;
    margin: 0 5px;
    width: 60px;
    height: 60px;    
    border-radius: 50%;
    position: relative;
}

/* Ricerca in chat */
#search {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
}

#btn_search {
    height: 35px;
    width: 80px;
    background-color: white;
    position: relative;
    border: 1px solid black;
}

#btn_search i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#search input{
    flex-grow: 1;
    height: 35px;
}

.user_chats {
    height: 100px;
    display: flex;
    align-items: flex-start;
    padding: 3px 0;
    border-bottom: 1px solid black;
}

.user_chats a {
    text-decoration: none;
}

.disable_user_chat {
    display: none;
}

.user_chats img {
    height: 90%;
}

#time {
    margin-right: 10px;
    flex-grow: 1;
    text-align: right;
    font-size: 0.8rem;
}


/* Regole container right */

#container_right{
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Debug */
    background-image: url(../img/background_01.png);
}

#chat{
    flex-grow: 1;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5%;
}

#send_mex {
    min-height: 80px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

#send_mex input{
    flex-grow: 1;
    height: 30px;
}

#send_mex i {
    margin: 10px;
    font-size: 1.3rem;
}

/* Classi chat green white */

.green_chat {
    background-color: #d5f9ba;
}

.white_chat {
    background-color: #ffffff;
}

.flex_start {
    align-self: flex-start;
}

.chat_box {
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 0px 10px 15px;
    width: 400px;
}

.single_chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}

.mex_time {
    margin-right: 10px;
    text-align: right;
    font-size: 0.8rem;
}

/* Active */

.active{
    display: flex;
}

#active_chat {
    background-color: #e9ebeb;
}

.icons_bar i {
    margin-right: 15px;
}




/* Media query */

@media screen and (max-width:568px) {

    /* Regole containers */

    #container_left{
        width: 20%;
    }

    #container_right {
        width: 80%;
    }

    /* Regole elementi container left */
    .user_chats div {
        display: none;
    }

    .user_chats img {
        height: 60px;
        align-self: center;
    }

    #notify div:last-child  {
        display: none;
    }

    #fixed_profile div {
        display: none;
    }

    #btn_search {
        display: none;
    }

    #search {
        padding: 0;
    }

    /* Regole elemnti container right */

    .chat_box {
        width: 100%;
        padding: 10px 50px 10px 15px;
    }
}


/* MODIFICA TUTTE LE BARRE DI SCROLL */
*::-webkit-scrollbar {
    width: 10px;
}
/* Contenitore barra di scrollo */
*::-webkit-scrollbar-track {
    background-color: #cacaca;
    border-radius: 10px;
}
/* Barra di scrollo */
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1f1f1f;
}