/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
}

a {
    color: #7e7e7e;
}

/* Regole top bar */

.box_top {
    min-height: 60px;
    background-color: #eaeaea;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}

.icons_bar{
    position: relative;
    flex-grow: 1;
    text-align: right;
}

.actual_chat{
    height: 60px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 0;
    display: none;
}

img {
    margin: 0px 5px;
    height: 100%;
    border-radius: 50%;
}

/* Regole conatiner left */

#container_left{
    height: 100vh;
    width: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* Debug */
    background-color: #ffffff;
}

#fixed_profile img {
    height: 55px;
    margin: 0 10px;
    border-radius: 50%;
}

/* notify */

#notify{
    min-height: 70px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}
#notify i {
    font-size: 32px;
    color: #8edafc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#notify_on_off {
    background-color: white;
    margin: 0 5px;
    width: 60px;
    height: 60px;    
    border-radius: 50%;
    position: relative;
}

/* Ricerca in chat */
.search {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
}

.btn_search {
    height: 35px;
    width: 80px;
    background-color: white;
    position: relative;
    border: 1px solid black;
}

.btn_search i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input{
    flex-grow: 1;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid black;
}

.user_chats {
    height: 100px;
    display: flex;
    align-items: flex-start;
    padding: 3px 0;
    border-bottom: 1px solid black;
}

.user_chats a {
    text-decoration: none;
}

.disable_user_chat {
    display: none;
}

.user_chats img {
    height: 90%;
}

#time {
    margin-right: 10px;
    flex-grow: 1;
    text-align: right;
    font-size: 0.8rem;
}


/* Regole container right */

#container_right{
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Debug */
    background-image: url(../img/background_01.png);
}

#chat{
    flex-grow: 1;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5%;
}

#send_mex {
    min-height: 80px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

#send_mex input{
    height: 30px;
}

#send_mex i {
    margin: 10px;
    font-size: 1.3rem;
}

/* Classi chat green white */

.green_chat {
    background-color: #d5f9ba;
}

.white_chat {
    background-color: #ffffff;
}

.flex_start {
    align-self: flex-start;
}

.chat_box {
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 0px 10px 15px;
    width: 400px;
    position: relative;
}

/* Elimina mex */

.fa-solid.fa-trash-can {
    position: absolute;
    right: 10px;
    top: 8px;
    display: none;
    color: red;
}

.single_chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}

.mex_time {
    margin-right: 10px;
    text-align: right;
    font-size: 0.8rem;
}

/* Active */

.active{
    display: flex;
}

#active_chat {
    background-color:#bdbcbc;
}

.icons_bar i {
    margin-right: 15px;
}

.error.fa-triangle-exclamation {
    visibility: visible;
}

/* Error Mex */
.fa-triangle-exclamation{
    visibility: hidden;
    color: red;
}

/* Menu a tentina su icons */

.my_icons_box {
    margin-right: 5px;
    position: absolute;
    right: 0;
    top 0;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 11px 11px 20px #1f1f1f;
    
}

.my_icons_box div{
    line-height: 45px;
    vertical-align: middle;
    background-color: #e9ebeb;
    border-bottom: 1px solid black;
    padding-right: 10px;
}
.my_icons_box div:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.my_icons_box div:last-child{
    border-bottom: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Emoticons chat */

#wrapper_icon_chat {
    position: relative;
}

#emoticons_chat {
    width: 390px;
    height: 150px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    bottom: 45px;
    background-color: #e9ebeb;
    border: 1px solid black;
}


/* Media query */

@media screen and (max-width:768px) {

    /* Regole containers */

    #container_left{
        width: 100px;
    }

    #container_right {
        width: calc(100% - 100px);
    }

    /* Display none su mobile */

    .no_dp_mb{
        display: none;
    }
    /* Regole elementi container left */
    .user_chats {
        justify-content: center;
        height: 80px;
    }

    .user_chats img {
        height: 55px;
        align-self: center;
    }

    #notify {
        justify-content: center;
    }

    .box_top {
        justify-content: center;
    }

    #notify_on_off {
        width: 45px;
        height: 45px;
    }

    #notify i {
        font-size: 24px;
    }

    /* Regole elemnti container right */

    .chat_box {
        width: 100%;
        padding: 10px 10px 10px 15px;
    }

    .mex_time {
        margin-right: 0px;
    }

    /* Icone box */

    .my_icons_box {
        width: 200px;
    }

    /* Elimina mex */
    .fa-solid.fa-trash-can {
        right: -14px;
        top: 0;
        transform: translate(-50%,-50%);
        
    }

    /* Emoticons chat */

    #emoticons_chat {
        width: 190px;
    }

}


/* MODIFICA TUTTE LE BARRE DI SCROLL */
*::-webkit-scrollbar {
    width: 10px;
}
/* Contenitore barra di scrollo */
*::-webkit-scrollbar-track {
    background-color: #cacaca;
    border-radius: 10px;
}
/* Barra di scrollo */
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1f1f1f;
}


/* Regole hover */

.chat_box:hover .fa-solid.fa-trash-can {
    display: inline;
}

.user_chats:hover {
    background-color: #e9ebeb;
}

.my_icons_box div:hover {
    background-color:#bdbcbc;
}