/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
}

/* Regole top bar */

.box_top {
    min-height: 70px;
    background-color: #eaeaea;
}

/* Regole conatiner left */

#container_left{
    height: 100vh;
    width: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* Debug */
    background-color: yellow;
}

#fixed_profile{
    position: fixed;
    width: 100%;
}

.disable_user_chat {
    display: none;
}

/* notify */

#notify{
    min-height: 70px;
    background-color: #8edafc;
    margin-top: 70px;
}

#search {
    min-height: 50px;
}

#wrapper_chat{
    background-color: green;
}

.user_chats {
    height: 100px;
}

.user_chats img {
    border-radius: 50%;
    height: 100%;
}


/* Regole container right */

#container_right{
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Debug */
    background-color: blue;
}

#chat{
    flex-grow: 1;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5%;
}

#send_mex {
    min-height: 80px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

/* Classi chat green white */

.green_chat {
    background-color: #d5f9ba;
}

.white_chat {
    background-color: white;
}

.flex_start {
    align-self: flex-start;
}

.chat_box {
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 5px;
}

.single_chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}

/* Active */

.active{
    display: flex;
}