<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- My style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Script VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boozap</title>
</head>
<body>
    <!-- Container Vue -->
    <div id="app">
        <div id="container">
<!-- --- Container left --- Container left --- Container left --- Container left -->
            <div id="container_left">
                <div class="box_top">

                </div>
                <div id="notify">

                </div>
                <div id="search">

                </div>
                <div id="wrapper_chat">
                    <div class="user_chats" v-for="(user,i) in contacts">
                        <img :src="user.avatar" :alt="user.avatar" :key="i">
                        {{ user.name }}
                    </div>
                </div>
            </div>
<!-- --- Container right --- Container right --- Container right --- Container right -->
            <div id="container_right">
                <div class="box_top">

                </div>
                <div id="chat">
                    <div v-for="(mex, i) in contacts" :key="i">
                        <div v-for="singleMex in mex.messages"  class="chat_box green_chat">
                            {{ singleMex.message }}
                        </div>
                    </div>
                    <div class="my_mexs">
                        <div class="chat_box white_chat" v-for="myMex in myMexs">
                            {{ myMex }}
                        </div>
                    </div>


                </div>
                <div id="send_mex">
                    <input type="text" v-model="newMex" @keyup.enter="sendMex">
                </div>
            </div>
        </div>
    </div>
    <!-- My script -->
    <script src="js/main.js"></script>
</body>
</html>